* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px calc(100% - 50px);
  grid-template-areas: "top" "bottom";
}
header {
  grid-area: top;
}
main {
  grid-area: bottom;
  overflow-x: auto;
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.calendarSection > iframe {
  width: 100%;
}

.menuItem {
  text-align: center;
}
.tab-content {
    max-height:80vh;
    overflow-x: auto;
}
h3.title.is-6 {
  text-align: center;
}
ul#dinnerMenuList>li {
  margin: 2em 0;
}
